<h3>{{ titulo }}</h3>

<form action="">
  <div class="form-group">
    <input
      type="text"
      name="title"
      [(ngModel)]="rubro.nombrerubro"
      placeholder="Nombre del Rubro"
      class="form-control"
      autofocus
    />
  </div>
  <div class="row mt-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-primary"
        *ngIf="!editar"
        (click)="guardaRubro(rubro.nombrerubro)"
      >
        Guardar Rubro
      </button>
      <button
        type="button"
        class="btn btn-primary"
        *ngIf="editar"
        (click)="actualizaRubro(rubro.idrubros, rubro.nombrerubro)"
      >
        Modificar Rubro
      </button>
      <button type="button" class="btn btn-danger" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </div>
</form>
