<h3
  class="text-center font-weight-bold border border-primary rounded shadow p-3 mb-5 bg-white"
>
  Listado de Productos
</h3>
<div>
  <button class="btn btn-primary btn-block" routerLink="/productos/agregar">
    Alta de Producto
  </button>
</div>
<div class="col">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio Venta</th>
        <th scope="col">Precio Compra</th>
        <th scope="col">Stock</th>
        <th scope="col">Rubro</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of prodData">
        <td scope="row">{{ prod.idproducto }}</td>
        <td>{{ prod.nombreproducto }}</td>
        <td>{{ prod.precio }}</td>
        <td>{{ prod.preciocompra }}</td>
        <td>{{ prod.existencia }}</td>
        <td>{{ prod.nombrerubro }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm mr-5"
            (click)="editarProducto(prod.idproducto)"
          >
            <span class="material-symbols-rounded"> edit </span>
          </button>
          <button
            class="btn btn-danger btn-sm ml-3"
            (click)="eliminarProducto(prod.idproducto)"
          >
            <span class="material-symbols-rounded"> delete </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
