<mat-card>
    <mat-card-title>
        Rubros
    </mat-card-title>
    <mat-card-content>
       
          <mat-form-field class="medium-width">
            <mat-label>Nombre del Rubro</mat-label>
            <input matInput [(ngModel)]="rubroModel.nombrerubro" type="text" />
          </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
        <button mat-raised-button color="primary" (click)="guardarRubro()" *ngIf="esAlta && !esModificacion">Alta</button>
        <button mat-raised-button color="primary" (click)="modificaRubroFinal()" *ngIf="esModificacion && !esAlta">Modificación</button>
        <button mat-raised-button color="warn">Cancelar</button>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-content>
        <table class="mat-elevation-z13" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="rubroid">
              <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rubroid}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombrerubro">
              <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombrerubro}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="eliminar">
              <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="eliminarRubro(element.rubroid)" mat-raised-button color="warn">
                  <mat-icon>delete</mat-icon> Eliminar
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="modificar">
              <mat-header-cell *matHeaderCellDef>modificar</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="modificarRubro(element.rubroid)" mat-raised-button color="accent">
                  <mat-icon>modify</mat-icon> Modificar
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
          </table>
    </mat-card-content>

</mat-card>
