mat-form-field {
    padding: 5px;
    width: 40%;
  }

  .full-width {
    width: 99%;
  }
  .medium-width {
    width: 49%;
  }

  .numeric-width {
    width: 24%;
  }

  .buttons {
    /* min-width: 200px;
    max-width: 201px; */

    width: 200px;
  }