
<table class="mat-elevation-z13" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Nro.ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idservicios}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef>Nombre de Cliente</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cliente}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef>Nº Teléfono</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.telefono}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ingreso">
      <mat-header-cell *matHeaderCellDef>Fecha Ingreso</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fechaingreso | date: 'dd-MM-yyyy'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="articulo">
      <mat-header-cell *matHeaderCellDef>Artículo a reparar</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.articulo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="falla">
      <mat-header-cell *matHeaderCellDef>Falla Declarada</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.falla}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="observaciones">
      <mat-header-cell *matHeaderCellDef>Observaciones</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.observaciones}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="salida">
        <mat-header-cell *matHeaderCellDef>Fecha Salida</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fechasalida | date: 'dd-MM-yyyy'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="precioreparacion">
        <mat-header-cell *matHeaderCellDef>Importe</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precioreparacion | currency}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </table>
