<mat-card>
  <mat-card-title>Venta en Mostrador</mat-card-title>
</mat-card>
<div class="buscar">
  <mat-form-field style="width: 100%">
    <mat-label>Escanee el código de Barras</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Escanear..." #busqueda />
  </mat-form-field>
</div>
<div class="tablita">
  <table class="mat-elevation-z13" mat-table [dataSource]="productosDatos">
    <ng-container matColumnDef="codigobarra">
      <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.codigobarra }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.precio | currency }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas"></mat-row>
  </table>
</div>
