<h3
  class="text-center font-weight-bold border border-primary rounded shadow p-3 mb-5 bg-white"
>
  Listado de Proveedores
</h3>
<div>
  <button class="btn btn-primary btn-block" routerLink="/proveedores/agregar">
    Alta de Proveedor
  </button>
</div>
<div class="mt-2 mb-2">
  <input
    type="text"
    class="form-control mb-2"
    placeholder="Buscar Producto"
    name="search"
    [(ngModel)]="search"
    (onkeyup)="onSearchProveedor(search)"
  />
</div>
<div class="col">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Referencias</th>
        <th scope="col">Fecha Ult.Compra</th>
        <th scope="col">Importe Total Compras</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prov of provData | filtroproveedor : page : search">
        <td scope="row">{{ prov.idproveedores }}</td>
        <td>{{ prov.nombre }}</td>
        <td>{{ prov.referencia }}</td>
        <td>{{ prov.fechaultimacompra | date : "dd-MM-yyyy" }}</td>
        <td>{{ prov.totalcompras | currency }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm mr-5"
            (click)="editarProveedor(prov.idproveedores)"
          >
            <span class="material-symbols-rounded"> edit </span>
          </button>
          <button
            class="btn btn-danger btn-sm ml-3"
            (click)="eliminarProveedor(prov.idproveedores)"
          >
            <span class="material-symbols-rounded"> delete </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          style="height: 30px; width: 100px"
          (click)="prevPage()"
        >
          Previa
        </button>
      </li>
      <li class="page-item">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="nextPage()"
          style="height: 30px; width: 100px"
          [disabled]="(provData | filtroproveedor : page : search).length === 0"
        >
          Siguiente
        </button>
      </li>
    </ul>
  </nav>
</div>
