<h3>{{ titulo }}</h3>

<form action="">
  <div class="form-group">
    <div class="row">
      <div class="col-1">
        <label for="idprod"># ID</label>
        <input
          type="text"
          id="idprod"
          name="idproveedor"
          [(ngModel)]="compras.idcompras"
          readonly
          class="form-control"
        />
      </div>
      <div class="col-2">
        <label for="fecha">Fecha</label>
        <input
          type="date"
          id="fecha"
          name="fecha"
          [(ngModel)]="compras.fecha"
          class="form-control"
          autofocus
        />
      </div>
      <div class="col-4">
        <label for="comprobante">Comprobante Ref#</label>
        <input
          type="text"
          id="comprobante"
          name="comprobante"
          [(ngModel)]="compras.comprobante"
          class="form-control"
          autofocus
        />
      </div>
      <div class="col-5">
        <label for="proveedor">Proveedor</label>
        <select
          class="form-select form-select mb-3"
          id="proveedor"
          name="proveedores"
          [(ngModel)]="compras.idproveedores"
          aria-label=".form-select-sm"
        >
          <option *ngFor="let prov of proveedores" [value]="prov.idproveedores">
            {{ prov.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div class="card">
      <div class="row m-2">
        <div class="col-3">
          <!-- Código de barra a buscar -->
          <div class="input-group">
            <input
              type="text"
              id="codigobarra"
              name="codigobarra"
              [(ngModel)]="codigobarra"
              class="form-control"
              placeholder="Código Artículo"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="buscarProducto(codigobarra)"
              >
                <span class="material-symbols-rounded"> search </span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-5">
          <input
            type="text"
            name="nombreproducto"
            class="form-control"
            value="{{ producto.nombreproducto | async }}"
          />
        </div>
      </div>
    </div>
  </div>
</form>
