<h2>Ventas</h2>
<mat-form-field>
    <mat-label>Buscar...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
</mat-form-field>

<table class="mat-elevation-z13" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>#ID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy hh:mm:ss'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="producto">
    <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.producto}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="cantidad">
    <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cantidad}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="precio">
    <mat-header-cell *matHeaderCellDef>Importe</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.precio | currency}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
</table>